.btn {
    width: 100%;

    &:hover,
    &:focus {
        outline: none !important;
    }
}

.primary-button {
    border: unset;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--primary-btn-color);
    padding: 0.5rem 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
        color: var(--white-color);
        background-color: var(--hover-btn-color);
    }

    a {
        text-decoration: none;
        color: var(--white-color);

        &:hover {
            @extend a
        }
    }
}

.secondary-button {
    @extend .primary-button;
    border: 1px solid var(--primary-btn-color);
    text-transform: uppercase;
    color: var(--primary-btn-color);
    background-color: var(--white-color);
    font-weight: normal;
    text-transform: capitalize;

    &:hover {
        color: var(--white-color);
        background-color: var(--primary-btn-color);

        a {
            color: var(--white-color);
        }
    }

    a {
        text-decoration: none;
        color: var(--primary-btn-color);
    }
}

.capitalize-text {
    text-transform: capitalize;
}

.outline-button {
    @extend .primary-button;
    border: unset;
    color: var(--primary-btn-color);
    background-color: var(--white-color);
    text-transform: capitalize;

    &:hover {
        background-color: var(--white-color);
        color: var(--hover-btn-color);
        text-decoration: underline;
    }

    a {
        color: var(--primary-btn-color);
    }
}