.tag-container {
    cursor: pointer;
    border: none !important;
    border-radius: 34px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--primary-btn-color);
    text-align: center;
    color: var(--white-color);
    padding: 8px 16px;
    margin: 8px 8px 0px 0px;
}